version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    ignore:
      - dependency-name: 'crate-ci/typos'

  - package-ecosystem: 'bundler'
    directory: '/'
    schedule:
      interval: 'weekly'
    versioning-strategy: increase
    groups:
      rubocop-dependencies:
        patterns:
          - '*rubocop*'
      rbs-dependencies:
        patterns:
          - 'rbs*'
          - '*steep*'
    ignore:
      - dependency-name: 'rubocop'
        versions:
          # https://github.com/rubocop/rubocop/pull/10796
          - '1.31.2'
          # https://github.com/rubocop/rubocop/issues/11549
          - '1.45.0'
          # https://github.com/rubocop/rubocop/pull/14067#issuecomment-2820741234
          - '1.75.3'
  - package-ecosystem: 'bundler'
    directory: '/benchmark/compare_with_othergems/kachick'
    schedule:
      interval: 'weekly'
    versioning-strategy: increase
  - package-ecosystem: 'bundler'
    directory: '/benchmark/compare_with_othergems/rafaelsales'
    schedule:
      interval: 'weekly'
    versioning-strategy: increase
  - package-ecosystem: 'bundler'
    directory: '/benchmark/compare_with_othergems/abachman'
    schedule:
      interval: 'weekly'
    versioning-strategy: increase
