# https://docs.github.com/ja/actions/reference/workflow-syntax-for-github-actions
name: Lint
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - '.vscode/**'
  pull_request: null # This enables to run on each PRs
jobs:
  rubocop:
    timeout-minutes: 15
    runs-on: 'ubuntu-24.04'
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c # v1.269.0
        with:
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - run: bundle exec rake rubocop

  dprint:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: dprint/check@v2.3
        with:
          dprint-version: '0.50.2' # selfup {"extract":"\\d[^']+","replacer":["bash","-c","dprint --version | cut -d ' ' -f 2"]}

  typos:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: crate-ci/typos@v1.40.0 # selfup {"extract":"\\d\\.\\d+\\.\\d+","replacer":["bash","-c","typos --version | cut -d ' ' -f 2"]}
        with:
          # https://github.com/crate-ci/typos/issues/779
          files: |
            .
            .github
            .vscode
