name: Signature
on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/signature.yml'
      - 'lib/**'
      - 'sig/**'
      - '**.gemspec'
      - 'Gemfile'
      - 'Steepfile'
      - 'steep_expectations.yml'
      - '.yardopts'
      - 'Rakefile'
      - '.ruby-version'
  pull_request:
    paths:
      - '.github/workflows/signature.yml'
      - 'lib/**'
      - 'sig/**'
      - '**.gemspec'
      - 'Gemfile'
      - 'Steepfile'
      - 'steep_expectations.yml'
      - '.yardopts'
      - 'Rakefile'
      - '.ruby-version'
jobs:
  rbs:
    timeout-minutes: 15
    runs-on: 'ubuntu-24.04'
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@ae195bbe749a7cef685ac729197124a48305c1cb # v1.276.0
        with:
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - run: bundle exec rake rbs
  yard:
    timeout-minutes: 15
    runs-on: 'ubuntu-24.04'
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@ae195bbe749a7cef685ac729197124a48305c1cb # v1.276.0
        with:
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - run: bundle exec rake signature:validate_yard
