name: Update nixpkgs and CI dependencies
on:
  pull_request:
    paths:
      - '.github/workflows/update-nixpkgs-and-versions-in-ci.yml'
  schedule:
    # Every Monday 10:17 JST
    # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
    - cron: '17 1 * * 1'
  workflow_dispatch:

jobs:
  update-nixpkgs:
    uses: kachick/selfup/.github/workflows/reusable-bump-flake-lock-and-selfup.yml@v1.1.8
    if: (github.event.sender.login == 'kachick') || (github.event_name != 'pull_request')
    with:
      app_id: ${{ vars.APP_ID }}
      dry-run: ${{ github.event_name == 'pull_request' }}
      optional-run: |
        nix develop --command ruby -e 'puts RUBY_VERSION' > .ruby-version
        # https://stackoverflow.com/q/34807971
        git update-index -q --really-refresh
        git diff-index --quiet HEAD || git commit -m 'Update .ruby-version' .ruby-version
    secrets:
      APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
